.atom-build.yaml
.tags*
CMakeLists.txt.user*
*.autosave
doc/html
doc/latex
*.sublime-workspace
.*.sw*
.*un~
*.ccls-cache
*.py[cod]
*.swp
**/__pycache__
.vscode
*.egg-info
.pytest_cache
*.prof
*.idx
.mypy_cache
build/
Testing/