{# SPDX-FileCopyrightText: 2005- European Centre for Medium-Range Weather Forecasts (ECMWF)
   SPDX-License-Identifier: Apache-2.0 #}
{% extends "ci-infrastructure/cmake-runner.sh.j2" %}
{% block set_environment %}
    VENV="${TMPDIR:-/tmp}/metkit-venv"
    python3 -m pip uv
    uv venv "$VENV" --python "python"python_version
    source "$VENV/bin/activate"
    pip install uv
    uv pip install -r "python/requirements-build.txt"
{% endblock %}

